@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Delete a Scripture";

    var book = "";
    var chapter = "";
    var verse = "";
    var note = "";
    var dateSubmitted = "";
    var scriptureId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {
            scriptureId = Request.QueryString["ID"];
            var db = Database.Open("MyScriptureJournal");
            var dbCommand = "SELECT * FROM Scriptures WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, scriptureId);
            if (row != null)
            {
                book = row.Book;
                chapter = row.Chapter.ToString();
                verse = row.Verse.ToString();
                note = row.Note;
                dateSubmitted = row.Date.ToString();

            }
            else
            {
                Validation.AddFormError("No Scripture was found for that ID.");
            }
        }
        else
        {
            Validation.AddFormError("No Scripture was found for that ID.");
        }
    }

    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {
        scriptureId = Request.Form["scriptureId"];
        var db = Database.Open("MyScriptureJournal");
        var deleteCommand = "DELETE FROM Scriptures WHERE ID = @0";
        db.Execute(deleteCommand, scriptureId);
        Response.Redirect("~/Scriptures");
    }
}
<html>

<body>
    <h2>Delete a Scripture</h2>
    @Html.ValidationSummary()
    <p><a href="~/Scriptures.cshtml">Return to my journal</a></p>

    <form method="post">
        <fieldset>
            <legend>Scripture Information</legend>

            <p>
                <span>Book:</span>
                <span>@book</span>
            </p>

            <p>
                <span>Chapter:</span>
                <span>@chapter</span>
            </p>

            <p>
                <span>Verse:</span>
                <span>@verse</span>
            </p>
            <p>
                <span>Note:</span>
                <span>@note</span>
            </p>
            <p>
                <span>Date:</span>
                <span>@dateSubmitted</span>
            </p>

            <input type="hidden" name="scriptureid" value="@scriptureId" />
            <p><input type="submit" name="buttonDelete" value="Remove Scripture from My Journal" /></p>
        </fieldset>
        <p><a href="~/Scriptures">Return to my journal</a></p>
    </form>
</body>
</html>
